
.top{
    padding-top: 10px;
}
.fas.fa-clock,
.fas.fa-envelope{
    color: #3d89f8;
    font-size: 30px;
}
.emergency .fas.fa-phone-alt{
    color: #3d89f8;
    font-size: 30px;
    padding: 10px;
}
.schedule, .email, .emergency{
display: flex;
    align-items: center;

}
.time, .email p{
    margin-left: 10px;
    margin-bottom: 0;
}

.fas.fa-sign-in-alt {
    font-size: 16px;
    padding: 5px;
    transition: 0.5s;
}
.top .button .register:hover .fas.fa-sign-in-alt{
    position: relative;
    left: 10px;
    transition: 1s;
}
.button{
    text-align: end;
}